.sticky-top{
    top: -1px;
}
.searcher {
  display: flex;
}

.searchTerm {
  border: 1px solid #686868;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
  padding-left: 5px;
  width: 100%;
}

    
.searchButton {
  width: 40px;
  background: #f68b1e;
  color: #fff;
  border: 1px solid #5c5f5f;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.navbar a{
    color: #000;
}
.navbar a:hover{
    color: #f68b1e;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 2px 2px 2px grey;
    padding: 10px;
    background-color: #ffffff;
  }
  .seeAll a:hover{
    text-decoration: underline !important;
    color: #f68b1e !important;
  }
  .todayDeals .col-2{
    border-radius: 10px;
      
    box-shadow: 0px  2px 2px #d3d3d3;
  }
  .todayDeals img{
     min-height: 10vh;
     width: 100%;
     padding: 10px;
  }